.container-fluid {
    height: 100%;
}
.row {
    height: 33%;
}
.row-border-right {
    border-bottom: 1px solid black;
}
.col-border-bottom {
    border-right: 1px solid black;
}
.square{
    width: 33%;
}
.square:hover{
    background-color: slategrey;
}